{% extends "menu_base.html" %} 
{% block content %}

    <div class="w-full">

        <div class="bg-gray-200">
            <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-16">
                <div class = "w-80 h-60 bg-white rounded-lg shadow-md flex justify-center items-center">
                    <span class = "text-2xl font-semibold">Quadra 1</span>
                </div>
                <div class = "w-80 h-60 bg-white rounded-lg shadow-md flex justify-center items-center">
                    <span class = "text-2xl font-semibold">Quadra 2</span>
                </div>
                <div class = "w-80 h-60 bg-white rounded-lg shadow-md flex justify-center items-center">
                    <span class = "text-2xl font-semibold">Quadra 3</span>
                </div>
                <div class = "w-80 h-60 bg-white rounded-lg shadow-md flex justify-center items-center">
                    <span class = "text-2xl font-semibold">Quadra 4</span>
                </div>
                <div class = "w-80 h-60 bg-white rounded-lg shadow-md flex justify-center items-center">
                    <span class = "text-2xl font-semibold">Quadra 5</span>
                </div>
                <div class = "w-80 h-60 bg-white rounded-lg shadow-md flex justify-center items-center">
                    <span class = "text-2xl font-semibold">Quadra 6</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}