{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ block.title|default:"Flamengo - Tenis" }}</title>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="h-screen relative">
        <!-- SIDEBAR -->
        <nav
            class="fixed top-0 left-0 bottom-0 bg-white w-[18rem] z-[200] pt-[5px] border-r border-gray-200">
            <div class="flex flex-col items-center justify-start h-full">
                <div class="h-24 border-none w-full flex justify-center items-center px-8 mb-4">
                    <img
                        src="{% static 'mainapp_tenis/logo_flamengo.png' %}"
                        class="h-full w-auto object-contain max-w-40"
                        alt="Logo"
                    />
                </div>

                <div class="w-full border-t border-gray-300">
                    <a
                        href="{% url 'quadras' %}"
                        class="flex flex-row gap-2 items-center justify-start pl-12 h-[74px] cursor-pointer hover:bg-[#2a6984] hover:text-white transition {% if request.resolver_match.url_name == 'quadras' %}active{% endif %}"
                    >
                        <i class="bi bi-columns-gap"></i> Quadras
                    </a>
                    <a
                        class="flex flex-row gap-2 items-center justify-start pl-12 h-[74px] cursor-pointer hover:bg-[#2a6984] hover:text-white transition {% if request.resolver_match.url_name == 'novo-campeonato' %}active{% endif %}"
                    >
                        <i class="fa-solid fa-plus"></i> Novo Campeonato
                    </a>
                    <a
                        class="flex flex-row gap-2 items-center justify-start pl-12 h-[74px] cursor-pointer hover:bg-[#2a6984] hover:text-white transition {% if request.resolver_match.url_name == 'carregar-campeonato' %}active{% endif %}"
                    >
                        <i class="fa-regular fa-folder-open"></i> Carregar Campeonato
                    </a>
                </div>
            </div>
        </nav>

        <!-- MAIN -->
        <main class="ml-[18rem] py-6 pr-6 min-h-screen overflow-x-hidden bg-gray-200 flex justify-center items-center">
            <!-- mensagens do Django -->
            {% if messages %}
            <div class="mb-6">
                {% for message in messages %}
                <div
                    class="absolute top-3 right-2 px-4 py-2 rounded shadow text-white text-sm {% if message.tags == 'success' %} bg-green-600 {% elif message.tags == 'warning' %} bg-yellow-600 {% elif message.tags == 'info' %} bg-blue-600 {% else %} bg-red-600 {% endif %}"
                >
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %} {% block content %}{% endblock %}
        </main>
    </body>
</html>
